.App {
  text-align: center;
}

a.link {
  color: cornflowerblue;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid cornflowerblue;
  padding: 5px 10px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 3px;
}
.card {
  display: inline-block;
  height: 100%;
  background-color: cornsilk;
  border-radius: 10px;
  box-shadow: white 10px 10px;
}
.card-title {
  height: 5rem;
}
.wrapper {
  margin: 0 auto;
}
#footer-color {
  background-color: aliceblue;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 0px !important;
  padding: 0px 100px;
  display: flex !important;
  justify-content: center !important;
}

/*
* {
  border: 1px solid red;
}
*/

*,
*:before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./images/animals.jpg);
  background-repeat: repeat;
  background-size: contain;
  text-align: center;
  color: black;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;
}

body:before {
  content: " ";
  z-index: -1;
  display: block;
  position: absolute;
  height: 100vh !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(255, 255, 255, 0.5); */
}

.single-animal-container {
  margin-top: 50px;
  background-color: aliceblue;
  border-radius: 10px;
  width: 40vw;
  margin: 0 auto;
  margin-bottom: 100px;
}

.animal-picture {
  max-width: 100%;
}

.details-button {
  padding-top: 20px;
  text-decoration: none;
  color: white;
  padding: 10px;
  background: blue;
}

.animal-container {
  margin-top: 30px;
}

.head-h1 {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border: 3px dotted grey;
  border-radius: 20px;
  width: 95vw !important;
}
.wrapper {
  z-index: 999;
}
