*,
*:before,
*::after  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body  {
  background-image: url(./images/animals.jpg);
  background-repeat: repeat;
  background-size: auto;
  text-align: center;
}

.App {
  text-align: center;
}

a.link {
  color: cornflowerblue;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid cornflowerblue;
  padding: 5px 10px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 3px;
}
.card {
  display:inline-block;
  height: 100%;
  background-color: cornsilk;
  border-radius: 10px;
  box-shadow: darkgray 10px 10px;
 
}
.card-title {
  height: 5rem;
}
/*
* {
  border: 1px solid red;
}
*/

*,
*:before,
*::after  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body  {
  background-image: url(./images/animals.jpg);
  background-repeat: repeat;
  background-size: auto;
  text-align: center;
  color: black;
  z-index: -1;
}
.single-animal-container  {
  margin-top: 50px;
  background-color: aliceblue;
}

.animal-picture {
  max-width: 100%;
}

.details-button {
  padding-top: 20px;
  text-decoration: none;
  color: white;
  padding: 10px;
  background: blue;
}

.animal-container {
  margin-top: 30px;
}

.single-animal-container  {
  background: white;
}